In [48]:
from bs4 import BeautifulSoup
import requests

In [49]:
url='https://en.wikipedia.org/wiki/Forbes_list_of_the_world%27s_highest-paid_athletes'

In [50]:
source=requests.get(url)
soup=BeautifulSoup(source.text,'html.parser')

In [51]:
title=soup.find('table',class_='wikitable sortable').find_all('tr')

In [52]:
titleheader=title[0].text.strip()
print(titleheader)

Rank

Name

Sport

Country

Total

Salary/winnings

Endorsements

In [53]:
title_list=[]
for x in titleheader.split():
    title_list.append(x)
print(title_list)

['Rank', 'Name', 'Sport', 'Country', 'Total', 'Salary/winnings', 'Endorsements']

In [54]:
import pandas as pd

In [55]:
df=pd.DataFrame(columns=title_list)

In [56]:
df

Empty DataFrame
Columns: [Rank, Name, Sport, Country, Total, Salary/winnings, Endorsements]
Index: []

In [64]:
data=soup.find('table',class_='wikitable sortable').find_all('tr')
player_info=[]
for i in range(1,len(data)):
    player_info2=[x.text.strip() for x in data[i].find_all('td')]
    player_info.append(player_info2)
print(player_info)

[['1', 'Cristiano Ronaldo', 'Association football', 'Portugal', '$136 million', '$46 million', '$90 million'], ['2', 'Lionel Messi', 'Association football', 'Argentina', '$130 million', '$65 million', '$65 million'], ['3', 'Kylian Mbappé', 'Association football', 'France', '$120 million', '$100 million', '$20 million'], ['4', 'LeBron James', 'Basketball', 'United States', '$119.5 million', '$44.5 million', '$75 million'], ['5', 'Canelo Álvarez', 'Boxing', 'Mexico', '$110 million', '$100 million', '$10 million'], ['6', 'Dustin Johnson', 'Golf', 'United States', '$107 million', '$102 million', '$5 million'], ['7', 'Phil Mickelson', 'Golf', 'United States', '$106 million', '$104 million', '$2 million'], ['8', 'Stephen Curry', 'Basketball', 'United States', '$100.4 million', '$48.4 million', '$52 million'], ['9', 'Roger Federer', 'Tennis', 'Switzerland', '$95.1 million', '$0.1 million', '$95 million'], ['10', 'Kevin Durant', 'Basketball', 'United States', '$89.1 million', '$44.1 million', '$45 million']]

In [80]:
df=pd.DataFrame(player_info,columns=title_list)

,Rank,Name,Sport,Country,Total,Salary/winnings,Endorsements
0,1,Cristiano Ronaldo,Association football,Portugal,$136 million,$46 million,$90 million
1,2,Lionel Messi,Association football,Argentina,$130 million,$65 million,$65 million
2,3,Kylian Mbappé,Association football,France,$120 million,$100 million,$20 million
3,4,LeBron James,Basketball,United States,$119.5 million,$44.5 million,$75 million
4,5,Canelo Álvarez,Boxing,Mexico,$110 million,$100 million,$10 million
5,6,Dustin Johnson,Golf,United States,$107 million,$102 million,$5 million
6,7,Phil Mickelson,Golf,United States,$106 million,$104 million,$2 million
7,8,Stephen Curry,Basketball,United States,$100.4 million,$48.4 million,$52 million
8,9,Roger Federer,Tennis,Switzerland,$95.1 million,$0.1 million,$95 million
9,10,Kevin Durant,Basketball,United States,$89.1 million,$44.1 million,$45 million

In [81]:
df.to_csv('highest_footballer',index=False)